<h1>Greeting</h1>
<h2>Message</h2>
<p>{{message}}</p>
<p>Good morning! {{name}}</p>
<h2>Style</h2>
{{#each colors}}
	<a href="/greeting?color={{this}}">{{this}}</a>
{{/each}}

<p style="color: {{color}};">/greeting?style={{color}}</p>

<a href="/set-colors">Set colors</a>
<a href="/set-name">Set name</a>